body {
    font-family: 'Poppins', sans-serif;
    
    background-color: #1a1a1d;
}

.meow {
    padding-top: 30px;
    max-width: 40%;
    height: auto
}
#submit-area {
    margin: 70px;
    margin-top: 50px;
    padding: 100px;
    box-shadow:   5px 5px 20px black;
    border-radius: 10px;
}
#submit-area h4{
    color: white;
}
#transaction-area {
    margin: 70px;
    display: none;
    margin-top: 50px;
    padding: 100px;
}
 .deposit{
     background-image: linear-gradient(45deg, #ED145B, #931941);
    
  
 }
 .withdraw {
    background-image: linear-gradient(45deg, #61C088, #169057);
    
 }
 
 .balance {
    background-image: linear-gradient(45deg, #F9C762, #E59A24);
    
 }
.status {
    margin : 20px 20px ;
    color: white;
    padding: 40px;
   border-radius: 20px; 
}
.submit-area {
    
    margin: 20px;
    padding: 100px;
    box-shadow:   5px 5px 20px black;
    border-radius: 10px;
}
.submit-area h4{
    color: white;
}

footer p 
{
 color: white;   
}
